.allSort {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: #c5e9ff;
  margin-top: 9px;

  .paramSort {
    width: 25%;
    margin-left: 4%;
    display: flex;
    flex-direction: row;

    p {
      margin-left: 1%;
      width: 40%;
      height: 40%;
    }

    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
      width: 60%;
      background-color: white;
    }
  }

  .add-filter {
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-right: 1%;

    .MuiSvgIcon-root {
      fill: currentColor;
      width: 2em;
      height: 3em;
    }
  }
}
