.all-elements {
  width: 100%;
  height: 15%;
  background-color: #c5e9ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .date {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .MuiOutlinedInput-input {
      width: 12em;
      background-color: white;
    }

    p {
      margin-right: 4%;
    }
  }

  .functional {
    width: 20%;
    display: flex;
    align-items: center;

    .MuiButton-outlined {
      height: 4em;
      width: 15em;
      margin-right: 5%;
      background-color: white;
    }

    svg {
      width: 3em;
      height: 2em;
    }
  }
}

@media (max-device-width: 768px) {
  .all-elements {
    .date {
      width: 27%;

      p {
        font-size: 1em;
      }
    }

    .functional {
      width: 27%;
    }
  }
}

@media (max-device-width: 425px) {
  .all-elements {
    width: 100%;
    height: 50%;
    flex-direction: column;

    .date {
      width: 100%;
      margin-bottom: 0.2em;
      flex-direction: column;

      .MuiOutlinedInput-input {
        width: 13em;
      }

      p {
        margin-bottom: 4px;
        font-size: 1em;
      }
    }
    .functional {
      width: 55%;

      .MuiButton-outlined {
        height: 3em;
        width: 10em;
      }

      svg {
        width: 2em;
      }
    }
  }
}
